/* weather -图标*/
.tq {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.t01d {
  background-image: url("../images/weather/01d.png");
}
.t02d {
  background-image: url("../images/weather/02d.png");
}
.t03d {
  background-image: url("../images/weather/03d.png");
}
.t04d {
  background-image: url("../images/weather/04d.png");
}
.t09d {
  background-image: url("../images/weather/09d.png");
}
.t10d {
  background-image: url("../images/weather/10d.png");
}
.t11d {
  background-image: url("../images/weather/11d.png");
}
.t13d {
  background-image: url("../images/weather/13d.png");
}
.t50d {
  background-image: url("../images/weather/50d.png");
}