/* weather -图标*/
.tq {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.t01n {
  background-image: url("../images/weather/01d.png");
}
.t02n {
  background-image: url("../images/weather/02d.png");
}
.t03n {
  background-image: url("../images/weather/03d.png");
}
.t04n {
  background-image: url("../images/weather/04d.png");
}
.t09n {
  background-image: url("../images/weather/09d.png");
}
.t10n {
  background-image: url("../images/weather10d.png");
}
.t11n {
  background-image: url("../images/weather/11d.png");
}
.t13n {
  background-image: url("../images/weather/13d.png");
}
.t15n {
  background-image: url("../images/weather/15d.png");
}